// Hamburger List 
.hamburger__list {
    position: absolute;
    right: -100%;
    top: 4rem;
    width: 45%;
    height: 100%;
    background-color: $gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 10;
    display: none;

    @include big-phone {
        display: block;
    }

    &--links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & span {
            color: $white;
            font-family: $Poppins;
            text-decoration: none;
            font-size: 1.2rem;
            transition: color .3s;

            &:hover {
                color: $primaryColor;
                cursor: pointer;
            }
        }
    }

    & .active{
        color: $primaryColor;
    }

    & hr {
        border: 0;
        height: 1px;
        width: 60%;
        margin: .4rem auto;
        opacity: .4;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $primaryColor, rgba(0, 0, 0, 0));
    }
}