@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Poppins:wght@500&display=swap");
@import "navbar";
@import "sidebar";
@import "hamburger";
@import "js_classes";
@import "animations";
@import "hamburger_list";

// CSS Reset

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $gray;
    overflow: hidden;
}

// Hero
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    font-family: $Poppins;
    color: white;

    @include big-phone {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    &__image {
        width: 13rem;
        margin-left: 2rem;
        display: flex;
        justify-content: end;

        @include tablet {
            margin-left: 0;
        }
        @include big-phone {
            justify-content: center;
        }
    }

    &__image img {
        width: 12rem;
        opacity: 0;
        border-radius: 50%;
        box-shadow: $primaryColor 0px 0px 2rem;
        animation: fade 3s ease-in forwards, float 3s ease-in-out infinite;

        @include tablet {
            width: 10rem;
        }
        @include phone {
            width: 9rem;
        }
    }

    &__info {
        line-height: 2.85rem;
        width: 26rem;

        @include tablet {
            width: 19rem;
            line-height: 2.1rem;
        }

        @include ipad {
            line-height: 1.9rem;
            width: 16rem;
        }

        @include big-phone {
            width: auto;
            line-height: 2.6rem;
        }
        @include phone {
            width: auto;
            line-height: 2rem;
        }

        h3 {
            font-size: 1.54rem;
            animation: slideBottom 1s ease-out;

            @include tablet {
                font-size: 1.2rem;
            }
            @include ipad {
                font-size: 1rem;
            }
            @include big-phone {
                font-size: 1.5rem;
            }
            @include phone {
                font-size: 1.2rem;
            }
        }

        h1 {
            color: transparent;
            font-size: 3rem;
            position: relative;
            overflow: hidden;

            &::before {
                position: absolute;
                content: attr(data-text);
                top: 0;
                left: 0;
                width: 100%;
                color: $primaryColor;
                animation: load 2s linear forwards;
                overflow: hidden;
            }

            @include tablet {
                font-size: 2.4rem;
            }

            @include ipad {
                font-size: 2rem;
            }

            @include big-phone {
                font-size: 2.7rem;
            }
            @include phone {
                font-size: 2.3rem;
            }
        }

        h2 {
            font-size: 1.7rem;
            animation: slideTop 1s ease-in-out;

            @include tablet {
                font-size: 1.3rem;
            }

            @include ipad {
                font-size: 1.1rem;
            }

            @include big-phone {
                font-size: 1.4rem;
            }
            @include phone {
                font-size: 1.2rem;
            }
        }

        #typed {
            color: $primaryColor;
        }
    }
}
